---
import 'swiper/swiper-bundle.css';
import { Icon } from 'astro-icon/components';
import Title from "../atoms/Title.astro";
import Divider from "../atoms/Divider.astro";

const skills = [
  { name: "Java", icon: "devicon:java", gradient: "from-[#ea2d2e] to-[#b31217]" },
  { name: "Quarkus", icon: "devicon:quarkus", gradient: "from-[#4693F8] to-[#8517FF]" },
  { name: "Node.js", icon: "devicon:nodejs-wordmark", gradient: "from-[#3c873a] to-[#1a4718]" },
  { name: "PostgreSQL", icon: "devicon:postgresql", gradient: "from-[#336791] to-[#1b355d]" },
  { name: "MongoDB", icon: "devicon:mongodb-wordmark", gradient: "from-[#4DB33D] to-[#2e7031]" },
  { name: "Docker", icon: "devicon:docker", gradient: "from-[#0db7ed] to-[#006fa3]" },
  { name: "Kubernetes", icon: "devicon:kubernetes", gradient: "from-[#326ce5] to-[#194eb7]" },
  { name: "Express.js", icon: "devicon:express", gradient: "from-gray-700 to-gray-900" },
  { name: "CI/CD", icon: "material-symbols:sync-alt", gradient: "from-[#6366f1] to-[#8b5cf6]" },
  { name: "Spring Boot", icon: "devicon:spring", gradient: "from-[#6DB33F] to-[#4C7737]" },
  { name: "React.js", icon: "devicon:react", gradient: "from-[#61DBFB] to-[#20232a]" },
  { name: "Javascript", icon: "devicon:javascript", gradient: "from-[#f7df1e] to-[#facc15]" },
  { name: "TypeScript", icon: "devicon:typescript", gradient: "from-[#3178c6] to-[#1a60a1]" },
  { name: "NestJS", icon: "devicon:nestjs", gradient: "from-[#ea2845] to-[#6e0d25]" },
];
---
<section class="py-20 px-4 bg-gray-900">
  <div class="max-w-6xl mx-auto text-center mb-16">
    <Title as="h2" title="Tech Stack" class="mb-2 bg-gradient-to-r from-purple-400 to-blue-400" />
    <Divider class="bg-gradient-to-r from-purple-600 to-blue-600" />
  </div>

  <div class="swiper">
    <div class="swiper-wrapper">
      {skills.map(skill => (
        <div class={`swiper-slide !flex flex-col items-center justify-center p-4 rounded-xl border border-gray-700 hover:border-gray-300 transition text-white bg-gradient-to-br ${skill.gradient}`}>
          <Icon name={skill.icon} class="text-7xl mb-2 drop-shadow-xl" />
          <span class="text-sm font-medium">{skill.name}</span>
        </div>
      ))}
    </div>
  </div>
</section>

<script src="../../lib/swiper.js"></script>
